.card-container {
    width: 27vw; ;
    display: block;
    flex-direction: column;
    background-color: lightgrey;
    border-radius: 5px;
    padding: 30px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  }
  
  .card-container:hover {
    transform: scale(1.05);
  }

  