.movie1{
    margin-left: 25%;
    font-size: 20px;
}
.collection-footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 50%;
    margin: auto;
}
.image1{
    text-align: center;

}